.container {
    width: 100vw;
    height: 100vh;
    padding-top: 4rem;

    #background {
        position: absolute;
        right: -1rem;
        height: 95vh;
        min-height: 400px;
        width: 70vw;
        z-index: -1;
    }

    .sub-container {
        width: 35%;
        height: 80%;
        text-align: left;
        margin: 3rem 0 0 2.7rem;

        h1 {
            font-size: 3rem;
            font-family: Montserrat;
            color: #3D3D3D;
            letter-spacing: -2.5px;
        }

        h3 {
            color: #2ECC71;
        }
    }

    .external-links {
        height: 40%;
        display: flex;
        align-items: center;

        .link {
            margin: 5px;
            cursor: pointer;
        }
    }
}