body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

span { 
    font-size: 8px;
    font-weight: 500px;
    font-style: normal;
    color: #3D3D3D;
    line-height: 10px;
}

input::placeholder {
    font-size: 10px;
    color: #3D3D3D80;
    position: relative;
    bottom: 2px;
    left: 16px;
    font-style: normal;
    font-weight: 500px;   
}

.sign-in-form{
    max-width: 360px;
    width: 100vw;
    height: 620px;
    margin: auto;
}

.sign-in-container{
    width: 100%;
    height: 100%;
    font-family: Montserrat;


    div {
        width: 90%;
        margin: auto;
    }

    .social-sign-in {
        padding-top: 1rem;
        height: 53%;

        .gokolect-logo {
            margin: 100px 0 50px 0;
        }

        h1 {
            color: #3D3D3D;
            font-size: 24px;
            font-weight: 500px;
        }

        span {
            font-size: 10px;
            font-weight: 500px;
            color: #2ECC71;
        }

        div {
            display: flex;
            align-items: center;
            width: 25%;
            justify-content: space-around;
            position: relative;
            top: 12px;
        }

        div > *{
            cursor: pointer;
        }
    }

    .email-password-sign-in {
        display: flex;
        flex-direction: column;
        height: 25%;

        input {
            width: 199px;
            height: 38px;
            border-radius: 32px;
            border: 1px solid #2ECC71;
            margin: 8px auto;
        }
    }

    .sign-in-buttons {
        width: 63%;
        height: 15%;

        div {
            display: flex;
            flex-direction: row;
            height: 47%;
            align-items: center;
         }

         input {
            margin-right: 10px;
            border: none;
        }

        input[type=checkbox] {
            width: 15px;
            height: 15px;
            position: relative;
            top: 0px;
            accent-color: #2ECC71;
        }

        input[type=submit] {
            width: 88px;
            height: 38px;
            color: white;
            background-color: #2ECC71;
            border-radius: 12px;
            cursor: pointer;
        }
    }
    
}
