span { 
    font-size: 12px;
}

input::placeholder {
    font-size: 11px;
}

.sign-in-container{
    width: 360px;
    height: 800px;
    margin: auto;
}

.sign-in-container div {
    height: 30%;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}

.social-sign-in {
    padding-top: 7rem;
}

.email-password-sign-in {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.email-password-sign-in input {
    width: 199px;
    height: 38px;
    border-radius: 14px;
    border: 1.8px solid #2ECC71;
    margin: 10px auto;
}

.sign-in-buttons div {
   display: flex;
   flex-direction: row;
   height: 20%;
   align-items: center;
}


.sign-in-buttons input {
    margin-right: 10px;
    border: none;
}

.sign-in-buttons input[type=checkbox] {
    width: 15px;
    height: 15px;
    position: relative;
    top: 0px;
}

.sign-in-buttons input[type=submit] {
    width: 88px;
    height: 38px;
    color: white;
    background-color: #2ECC71;
    border-radius: 10px;
    cursor: pointer;
}